.team-photo-wrapper .responsive-button{
  font-size: 1rem;
}

@media (min-width: 768px) {
  .team-photo-wrapper {
    display: grid;
    grid-template:
    "theme remove-theme"
    /2fr auto;
    align-items: center;
    column-gap: .5rem
  }

  .team-photo-wrapper .photo {
    grid-area: theme;
  }

  .team-photo-wrapper .responsive-button {
    margin-top: .5rem;
    grid-area: remove-theme;
    height: 2.5rem;
    width:auto;
  }
}